<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'myapp/style.css' %}"/>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body>

<h2> Welcome to the Chatbot </h2>
<div>
    <div id="chatbot">
        <p class="botText"> <span>Hi There</span></p>
    </div>
    <div id="userInput">
        <input type="text" id="textInput" name="userMessage" placeholder="Type your message...">
        <input type="submit" value="Send" id="buttonInput">
    </div>
</div>





<script>
initializeOptions();

function getWeather(){
    navigator.geolocation.getCurrentPosition((pos)=>{
        let lat = pos.coords.latitude;
        let long = pos.coords.longitude;
    
    $.get('/myapp/getWeather',{lat:lat, long:long}).done(function(data){
        var returnedMessage = "<p class='botText'>Bot: <span>"+ data.name +", "+ data.sys.country +"</span></p>"+
                                "<p class='botText'> Temperature: <span>"+data.main.temp +"°C </span></p>"+
                                "<p class='botText'> Condition: <span>"+data.weather[0].description +" </span></p>";
        $('#chatbot').append(returnedMessage)
    })
})
}


function getNews(){
    $.get('/myapp/getNews').done(function(data){
        var returnedMessage = "<p class='botText'>Bot: <span>"+ data + "</span></p>";
        $('#chatbot').append(returnedMessage)
    })
}


function assistantResponse(messageText){
    if (messageText =="1"){ 
        getWeather();
    }else if (messageText =="2"){
        getNews();
    }else{
        getUserResponse(messageText);
    }
}


function initializeOptions(){
    let Options=[
        {'number': 1, 'title':'weather'},
        {'number': 2, 'title':'news'},
        {'number': 3, 'title':'Chat with me'}
    ]
    var html ="<p class='botText'> Chatbot: Please select an Option to initialize<p>";
        $('#chatbot').append(html)

    for (let i=0; i<Options.length; i++){
        var html ="<p class='botText'> <span>"+Options[i].number +" - "+ Options[i].title+ "</span></p>";
        $('#chatbot').append(html)
    }
    var chatbot = document.getElementById('chatbot')
    chatbot.scrollTop = chatbot.scrollHeight;
}


function sendMessage(messageText){
    var userHTML = "<p class='userText'>User: <span>"+ messageText+"</span></p>";
    $('#chatbot').append(userHTML)

}


function getUserResponse(messageText){
    // var userText = $('#textInput').val();
    // var userHTML = "<p class='userText'>User: <span>"+ userText+"</span></p>";
    // $('#textInput').val("");
    // $('#chatbot').append(userHTML)
    
    $.get('/myapp/getResponse',{userMessage:messageText}).done(function(data){
        var returnedMessage = "<p class='botText'>Bot: <span>"+ data+"</span></p>";
        $('#chatbot').append(returnedMessage)
    })
}
$('#buttonInput').click(function(){
    var userText = $('#textInput').val();
    $('#textInput').val("");
     if (userText ==""){
         alert('Plase enter a message')
     }else{
        let messageText = userText.trim();
        sendMessage(messageText);
        assistantResponse(messageText);
     }
})


</script>











 

</body>
</html>